@import 'custom-bootstrap.scss';
// @import "~styles/bootstrap/scss/bootstrap";

/*-===== dev ===== */
.debug {
  border: 2px solid red;
}

/*============ Utility classes. 
 Use swush for faster ease of development ============*/

.fill-viewport {
  min-height: 100vh
}
.fill-40-viewport {
  min-height: 40vh
}
.fill-60-viewport {
  min-height: 60vh
}
.fill-80-viewport {
  min-height: 80vh
}
.fill-90-viewport {
  min-height: 90vh
}
.jumbotron-transparent {
  background-color: transparent
}
.text-white-70 {
  color: rgba(255,255,255,0.7)
}
.text-black-70 {
  color: rgba(0,0,0,0.7)
}
.text-black-40 {
  color: rgba(0,0,0,0.4)
}
.text-white-40 {
  color: rgba(255,255,255,0.4)
}
.text-secondary-pink {
  color: $secondary-pink;
}
.line-height-1 {
  line-height: 0.25rem;
}
.line-height-2 {
  line-height: 0.5rem;
}
.line-height-3 {
  line-height: 1rem;
}
.line-height-4 {
  line-height: 2rem;
}
.line-height-5 {
  line-height: 3rem;
}
.border-secondary-pink {
  border: 1px solid $secondary-pink;
}
.btn-secondary-pink {
  background-color: $secondary-pink;
}

#menu {
  .nav-item {
    font-weight: 500;
  }

  .navbar-separator {
    border-top: 1px solid $primary;
  }

  .navbar-toggler {
    border: none;
    outline: 0;
  }
}
  
  
  #info-family {
    .container {
        // background: linear-gradient(rgba(100,181,246 ,0.3), rgba(0,0,0,0.8)),url("http://bit.ly/2xMHeVk") 0% 0%/cover;
    }
  }
  
  
  #feature-rundown img {
    width: 120px;

  }
  
  
  /*== 1. 
    1. Borders along x an y
    2. Borders with colors i.e the shades of white and gray above
    3. Unordered list with borders all round
    4. Unordered list with borders along y, as in pricing table here
    5. Border size class*/
  
  .list-border-y li {
    border-top: 1px solid
  }
  .list-border-y li:last-child {
    border-bottom: 1px solid
  }
  .list-border-black-20 li,
  .list-border-black-20 li:last-child{
    border-color: rgba(0,0,0,0.2)
  }
  
  
  
  
  @media screen and (min-width: 768px ){
    /*need to set flex-basis and have it dependent on size too
    usage tip: if you want the element to NOT be positioned in the
    center, add this class to a non `.container` div. Container divs in
    bootstrap are styled to seat in the center of the page. 
    */
    .basis-md-50 {
      flex-basis: 50%
    }  
  }

#related-sources {
  .related-source-img {
    max-width: 100%;
  }
}

#main-features {
    .main-feature {
        position: relative;
        display: block;
        padding-bottom: 100%;
        background-color: lightblue;
        border-radius: 1rem;
    }

    .main-feature-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// Social Network
.social {
  .social-item {
    font-size: 2rem;
  }

  .social-item-fb {
    color: #4766B0;
  }

  .social-item-yt {
    color: #FA0019;
  }
}

// Breadcrumb
.breadcrumb {
  background-color: $primary;
  border-radius: 0;
  border-bottom: 0.5rem solid #9FBDE3;
  
  .breadcrumb-item.active, 
  .breadcrumb-item + .breadcrumb-item::before,
  a {
    color: $white;
  }
}

.feedbacks {
  .feedback {

  }

  .feedback-content {
    border-radius: 1rem;
    position: relative;
  }

  .feedback-content:before {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #284098;
    left: -1rem;
    top: 50%;
    margin-top: -1rem;
  }
}

.intro-header-background {
  .intro-header-text {
    display: inline-block;
    padding: 0 3rem;
    background-color: $secondary-pink;
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
    line-height: 4rem;
    color: $white;
    opacity: .8;
    border-radius: 2rem;
  }
}

.box-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  .box-menu-header {
    background-color: $primary;
    padding: 0.5rem;
    text-align: center;
    color: $white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .box-menu-item {
    background-color: #EEE;
    padding: 0 1rem;
  }

  .box-menu-item-link {
    display: block;
    padding: 0.5rem 0;
    border-bottom: 1px solid #DDD;
  }

  .box-menu-item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    .box-menu-item-link{
      border-bottom: 0;
     }
  }
}

.pagination-dot {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .pagination-dot-item {
    padding: 0.5rem;
  }

  .pagination-dot-link {
    display: block;
    background-color: $secondary-pink;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
  }
}